#root {
  max-width: 1900px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.marketplaceButton{
  display: inline;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: inherit;
    border-radius: 0.375rem;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 200ms;
    height: fit-content;
    min-width: fit-content;
    font-size: 14px;
    background: none rgb(28, 78, 255);
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    min-height: fit-content;
    width: fit-content;
    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-transform: capitalize;
    font-weight: 600;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gridStyle {
  grid-template-columns: repeat(3, 1fr);
}

.cardStyle {
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 184px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.cardText{
  font-size: 14px;
  color: #131313;
  margin-bottom: "2rem";
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media screen and (min-width: 1024px) {
  .gridStyle {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 640px) {
  .gridStyle {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 320px) {
  .gridStyle {
    grid-template-columns: repeat(1, 1fr);
  }
}